<form action="/auth/signup" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>
  <label>Avatar
    <input type="file" name="user-image" />
  </label>
  <a href="/profile/user"><button type="submit">Submit</button></a>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}