<h1>Welcome, {{user.username}} this is your profile page</h1>
<a href="/auth/logout"><button>Logout</button></a>

<a href="/user/collection"><button>My Collection</button></a>
<a href="/user/wishlist"><button>My Wishlist</button></a>

<img src="{{user.image}}" alt="" />