<h1>{{user.username}} this is your profile page</h1>
<a href="/auth/logout"><button>Logout</button></a>

<a href="/user/collection"><button>My Collection</button></a>
<a href="/user/wishlist"><button>My Wishlist</button></a>

{{!-- {{#if user}}
  <h2>Welcome, {{user}}!</h2>
  {{! <p>This is your profile page my friend!</p>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button> }}
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}} --}}