<h1>wishlist</h1>
<div class="container">
  <div class="form-container">
    <form action="/artist-search" method="get">
      <input type="text" name="name" />
      <button type="submit">Search for an artist</button>
    </form>
  </div>
</div>

<p></p>
<button><a href="/album-details/:id">See details</a></button>
<form action="/user/wishlist/:id" method="post">
  <button type="submit">Add to wishlist</button>
</form>

<div class="wishlist">
  {{#each user.wishlist}}
    <p>{{this.artists}}</p>
    <p>{{this.title}}</p>
    <p>{{this.thumb}}</p>
    <form action="/user/wishlist/{{_id}}/delete" method="POST">
      <button type="submit">Delete from wishlist</button>
    </form>
  {{/each}}

</div>