<h1> Artist Search </h1>

{{#each artistList}}
  <div class="album-details">

    <img src="{{this.thumb}}" alt="{{this.title}}" />
    <a href="/album-details/" class="albumBtn">{{this.title}}</a>
  </div>
{{/each}}