<h1> Artist Albums </h1>

{{#each artistList}}
  <div class="albums">

    <img src="{{this.thumb}}" alt="{{this.title}}" />
    <a href="/album-details/{{this.id}}" class="albumBtn">{{this.title}}</a>
  </div>
{{/each}}