<h1> Artist Search </h1>

{{#each artistList}}
  <div class="card">

    <img src="{{this.thumb}}" alt="{{this.title}}" />
    <a href="/album/{{this.title}}" class="albumBtn">{{this.title}}</a>
  </div>
{{/each}}