<nav class="navbar">
  <img
    class="navbar__image"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Disque_Vinyl.svg/1024px-Disque_Vinyl.svg.png"
    alt=""
  />
  <ul>
    <li class="navbar__item"><a href="/auth/signup"><button>Sign Up</button></a></li>
    <li class="navbar__item"><a href="/auth/login"><button>Log in</button></a></li>
    <li class="navbar__item"><a href="/auth/logout"><button
        >logout</button></a></li>
  </ul>
</nav>

<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<p>Teste</p>

<div class="container">
  <div class="form-container">
    <form action="/artist-search" method="get">
      <input type="text" name="name" />
      <button type="submit">Search for an artist</button>
    </form>
  </div>
</div>