@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* .navbar {
  display: flex;
}

.navbar__image {
  width: 100px;
}

.card {
  background-color: aqua;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.card__image {
  width: 150px;
  padding-top: 25px;
}

.card__clicks {
  display: flex;
  padding: 25px;
}

.card__button {
  background-color: bisque;
  border-radius: 5px;
  width: 100px;
  margin: 5px;
} */
